<template>
  <v-toolbar id="core-header" flat prominent style="background: #fff;">
    <div class="v-toolbar-title">
      <v-toolbar-title class="tertiary--text font-weight-light">
        <router-link v-ripple class="toolbar-items" to="/home">
        <v-img :src="logo" height="44" contain/>
        </router-link>
        {{ title }}
      </v-toolbar-title>
    </div>

    <v-spacer/>
    <v-toolbar-items>
      <v-flex align-center layout py-2>
        <!-- <v-text-field
          v-if="responsiveInput"
          class="mr-4 mt-2 purple-input"
          label="Search..."
          hide-details
          color="purple"
        />-->
        <router-link v-ripple class="toolbar-items" to="/home">
          <v-icon color="tertiary">mdi-home</v-icon>Home
        </router-link>
        <router-link v-if="!user.isAuth" v-ripple class="toolbar-items" to="/login">
          <v-icon color="tertiary">person</v-icon>Login
        </router-link>
        <span v-else>
          <v-icon color="tertiary">person</v-icon>
          Hello {{user.name}} [
          <a @click="logout">Logout</a>]
        </span>
      </v-flex>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
import auth from "../../auth";
import { mapMutations } from "vuex";

export default {
  data: () => ({
    notifications: [
      "Mike, John responded to your email",
      "You have 5 new tasks",
      "You're now a friend with Andrew",
      "Another Notification",
      "Another One"
    ],
    title: "MPP Survey",
    responsive: false,
    responsiveInput: false,
    logo: "./img/vuetifylogo.png",
    user: {}
  }),

  watch: {
    $route(val) {
      this.title = val.name;
    }
  },

  mounted() {
    this.onResponsiveInverted();
    window.addEventListener("resize", this.onResponsiveInverted);
    this.user = auth.getAuth();
    console.log(this.$router);
    console.log(this.$route);
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.onResponsiveInverted);
  },

  methods: {
    ...mapMutations("app", ["setDrawer", "toggleDrawer"]),
    onClickBtn() {
      this.setDrawer(!this.$store.state.app.drawer);
    },
    onClick() {
      //
    },
    logout() {
      auth.logout();
      this.$router.go({ path: this.$route.path });
    },
    onResponsiveInverted() {
      if (window.innerWidth < 991) {
        this.responsive = true;
        this.responsiveInput = false;
      } else {
        this.responsive = false;
        this.responsiveInput = true;
      }
    }
  }
};
</script>

<style>
#core-toolbar a {
  text-decoration: none;
}
</style>
