<template>

  <v-app v-if="$route.path == '/login' || $route.path == '/home' || $route.path == '/survey'">
    <!-- <core-filter /> -->

    <core-header />

    <!-- <core-drawer /> -->

    <core-view />
  </v-app>
  <v-app v-else>
    <!-- <core-filter /> -->

    <core-toolbar />

    <core-drawer />

    <core-view />
  </v-app>
</template>
<script>
import router from 'vue-router'
export default {
  name: 'app',
mounted() {
  console.log("router:",this.$route.path);
  // if (this.$route.name != 'Home') {
  //   this.searchStatus = this.searchStatuses.results;
  // }
}
}
</script>
<style lang="scss">
@import '@/styles/index.scss';

/* Remove in 1.2 */
.v-datatable thead th.column.sortable i {
  vertical-align: unset;
}
</style>
