<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <material-card
          color="green"
          title="Categories"
          text="List of all available categories."
        >

        <v-btn color="primary"
              top
              right
              dark
              absolute
              @click="onAddCategory">
              <v-icon>mdi-plus</v-icon> Add Category
          </v-btn>
          <v-flex md3>
    </v-flex>
          <v-data-table
            :headers="headers"
            :items="items"
          >
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>
            <template
              slot="items"
              slot-scope="props"
            >
              <td>{{ props.item.name }}</td>
              <td class="text-xs-right">
                <v-icon color="primary" style="cursor:pointer;" @click="onEditCategory(props.item, props.index)">mdi-pencil</v-icon>
                <v-icon color="red" style="cursor:pointer;" @click="deleteCategory(props.item.id, props.index)">mdi-close</v-icon>
              </td>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>

      <v-dialog v-model="categoryModel" max-width="50%" >
          <v-card>
            <v-card-title>
              <span class="headline">{{formAction}} Category</span>
            </v-card-title>
            <v-card-text>
              <v-form ref="form" v-model="valid">
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12>
                    <v-text-field
                    :rules="nameRules"
                    required
                      label="Name*"
                      v-model="category.name">
                    </v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" flat @click.native="categoryModel = false">
                Close
              </v-btn>
              <v-btn flat color="primary" @click.native="saveCategory">
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
        category:{
          name:'',
        },
        categoryModel:false,
        headers: [
          {
            text: 'Name',
            value: 'name'
          },
          {
            sortable: false,
            text: 'actions',
            value: 'actions',
            align: 'right'
          }
        ],
        items: [],
        selectedIndex: 0,
        formAction: 'Add',
        search:'',
        categories: [],

        //rules
        valid: true,
        nameRules: [
        v => !!v || 'Name is required'
      ],
  }
},
  created() {
    this.getCatgoryList();
  },
  methods: {

    getCatgoryList(){
      axios.get(axios.defaults.baseURL + 'category')
        .then((response) => {
          this.items = response.data;

        })
        .catch((error) => {
          console.log(error);
          this.$toasted.error(error)
        })
    },
    onAddCategory() {
      this.formAction = "Add"
      this.categoryModel = true
      this.category = {}
      this.$refs.form.resetValidation();
    },
    saveCategory(){
       if (this.$refs.form.validate()) {
      if(!this.category.id){
        this.addCategory()
      }else{
        this.updateCategory()
      }
    }
    },
    addCategory(){
      axios.post(axios.defaults.baseURL + 'category', this.category)
        .then((response) => {
          this.getCatgoryList()
          this.categoryModel = false
          this.$toasted.success("Category Added Successfully.")
        })
        .catch((error) => {
          console.log(error);
          this.$toasted.error(error)
        })
    },
    onEditCategory(item, index){
      this.selectedIndex = index
      this.formAction = 'Edit'
      this.category = Object.assign({}, item)
      this.categoryModel = true;
    },
    updateCategory(){
      axios.post(axios.defaults.baseURL + 'category', this.category)
        .then((response) => {
          this.getCatgoryList()
          this.categoryModel = false
          this.$toasted.success("Category update Successfully.")
        })
        .catch((error) => {
          console.log(error);
          this.$toasted.error(error)
        })
    },
    deleteCategory(id, index){
      debugger
      //category/delete/{id}
      confirm("Are you sure you want to delete?") &&
      axios.get(axios.defaults.baseURL + 'category/'+id+'/delete')
        .then((response) => {
          this.getCatgoryList()
          this.$toasted.success("Category Delete Successfully.")
        })
        .catch((error) => {
          console.log(error);
          this.$toasted.error(error)
        })
    },
    // gotQuestion(id){
    //   if (id) {
    //     this.$router.replace({ name: 'Questions', params: id, query: { 'sid': id }})
    //   }
    // },
  },
  computed:{

  },
}
</script>
<style lang="scss" >
.v-datatable__actions__range-controls .v-btn__content {
    color: rgba(0,0,0,.87) !important;
}
</style>
