<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout wrap>
      <v-flex
        sm6
        xs12
        md6
        lg4
      >
        <material-stats-card
          color="green"
          icon="mdi-clipboard-outline"
          title="Total Surveys"
          :value="surveys.length+''"
          sub-icon="mdi-calendar"
          sub-text="All Time"
        />
      </v-flex>
      <v-flex
        sm6
        xs12
        md6
        lg4
      >
        <material-stats-card
          color="orange"
          icon="mdi-content-copy"
          title="Total Questions"
          :value="questionCount"
          sub-icon="mdi-calendar"
          sub-text="All time"
        />
      </v-flex>
       <v-flex sm6  xs12 md6 lg4>
        <material-stats-card
          color="red"
          icon="mdi-chart-bubble"
          title="Total Categories"
          :value="categories.length+''"
          sub-icon="mdi-tag"
          sub-text="Survey Categories"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>

export default {
  data () {
    return {
      categories:[],
      surveys:[]
    }
  },
  mounted() {

    this.getSurveys()
    this.getCatgoryList()
  },
  methods: {
    getSurveys(){
      axios.get(axios.defaults.baseURL + 'surveys')
        .then((response) => {
          this.surveys = response.data;
        })
        .catch((error) => {
          console.log(error);
        })
    },
    getCatgoryList(){
      axios.get(axios.defaults.baseURL + 'category')
        .then((response) => {
          this.categories = response.data;
        })
        .catch((error) => {
          console.log(error);
        })
    }
  },
  computed:{
    questionCount(){
      let count=0
      this.surveys.forEach(survey => {
        survey.questions.forEach((item,index) =>{
          count = count+1
        });
      });

      return count
    }
  }
}
</script>
