<template>
  <v-container fluid grid-list-xl fill-height>
    <v-layout justify-center align-center>
      <v-flex xs12>
        <v-flex xs12>
          <!-- src="https://cdn.vuetifyjs.com/images/parallax/material.jpg" -->
          <v-parallax dark src="img/bg1.jpg" height="300">
            <v-layout align-center column justify-center>
              <h1 class="display-3 mb-4" style="color:#fff;">MPP Survey System</h1>
              <h4 class="subheading" style="color:#fff;">Get the answers you need!</h4>
            </v-layout>
          </v-parallax>
        </v-flex>
        <material-card color="purple">
          <div slot="header">
            <div class="title font-weight-light mb-2">Surveys</div>

            <!-- <div class="category">
              <router-link :to="{ name: 'Survey', query: { id: '1' }}">
                <v-btn>Start Survey
                  <v-icon size="17">mdi-heart</v-icon>
                </v-btn>
              </router-link>
            </div>-->
          </div>

          <v-card-text>
            <v-list two-line subheader>
              <v-subheader>
                <v-text-field
                  @input="debouncedSearch($event)"
                  v-model.trim="searchText"
                  label="Search by Survey Category..."
                  append-icon="search"
                  hide-details
                  single-line
                ></v-text-field>
              </v-subheader>
            </v-list>

            <div class="text-xs-center" v-if="loading">
              <v-progress-circular :size="50" color="blue" indeterminate></v-progress-circular>
            </div>

            <v-list two-line v-else>
              <router-link style="display:block"
                v-ripple
                :key="index"
                v-for="(i, index) in surveys"
                :to="{ name: 'Survey', query: { id: i.id }}"
              >
                <v-list-tile :key="i.id" avatar>
                  <v-list-tile-content>
                    <v-list-tile-title>{{ i.name }}</v-list-tile-title>
                    <!-- <v-list-tile-sub-title class="text--primary">{{ item.headline }}</v-list-tile-sub-title> -->
                    <v-list-tile-sub-title class="text--primary">{{ i.category }}</v-list-tile-sub-title>
                    <v-list-tile-sub-title>{{ i.description }}</v-list-tile-sub-title>
                  </v-list-tile-content>

                  <v-list-tile-action>
                    <v-list-tile-action-text>{{ i.questions.length }} questions</v-list-tile-action-text>
                    <v-icon color="grey lighten-1">mdi-arrow-right</v-icon>
                  </v-list-tile-action>
                </v-list-tile>
                <v-divider></v-divider>
              </router-link>
            </v-list>
          </v-card-text>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import _ from "lodash";
export default {
  data: () => ({
    surveys: null,
    loading: true,
    errored: false,
    searchText: ""
  }),
  mounted() {
    this.getAllSurvey();
  },
  methods: {
    click() {
      console.log(JSON.stringify(this.surveys));
    },
    getAllSurvey() {
      axios
        .get("surveys")
        .then(response => {
          this.surveys = response.data;
          this.surveys.forEach(s => {
            if (!s.questions) s.questions = [];
          });
        })
        .catch(error => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => {
          this.loading = false;
        });
    },
    search(keyword) {
      // this.loading = true;
      // console.log(e);
      // const keyword = e.target.value;
      const k = this.searchText;
      if (!k) {
        this.getAllSurvey();
        return;
      }
      axios
        .get("surveys/search/" + encodeURI(keyword))
        .then(response => {
          this.surveys = response.data;
          this.surveys.forEach(s => {
            if (!s.questions) s.questions = [];
          });
        })
        .catch(error => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => {
          this.loading = false;
        });
    }
  },
  created() {
    this.debouncedSearch = _.debounce(this.search, 500);
  }
};
</script>
