<template>
  <div>
    <div class="login-container">
      <v-card class="mx-auto" max-width="500">
        <v-card-title class="title font-weight-regular justify-space-between">
          <span>Login</span>
        </v-card-title>
        <v-form ref="form" v-model="valid" @submit.prevent="login">
          <v-card-text>
            <v-text-field
              v-model="username"
              label="Username"
              :rules="usernameRules"
              append-icon="person"
            ></v-text-field>
            <v-text-field
              append-icon="lock"
              v-model="password"
              label="Password"
              :rules="passwordRules"
              type="password"
            ></v-text-field>
          </v-card-text>
          <!-- <v-card-text></v-card-text> -->
        </v-form>

        <!-- <v-window v-model="step">
          <v-window-item :value="1"></v-window-item>
          <v-window-item :value="2"></v-window-item>
        </v-window>-->
        <!-- <v-divider></v-divider> -->
        <div v-if="!!msg" class="alert-danger">
          <v-icon>warning</v-icon>
          {{msg}}
        </div>
        <v-spacer></v-spacer>
        <v-card-actions>
          <router-link v-ripple to="/home">
            <v-btn flat color="secondary">Back</v-btn>
          </router-link>

          <v-spacer></v-spacer>

          <v-btn type="submit" :disabled="!valid" color="primary" depressed @click="login">Login</v-btn>
        </v-card-actions>
      </v-card>
    </div>
  </div>
</template>

<script>
import router from "../router";
import auth from "../auth";
// import auth from '../auth'

export default {
  name: "login",
  data() {
    return {
      valid: true,
      msg: "",
      username: "",
      password: "",
      loading: false,
      error: false,
      usernameRules: [v => !!v || "Please enter your username"],
      passwordRules: [v => !!v || "Please enter your password"],
      loggingIn: false
    };
  },
  methods: {
    login() {
      if(this.loggingIn)return;
      this.loggingIn = true;
      const data = { username: this.username, password: this.password };
      axios
        .post("/auth", data)
        .then(res => {
          const r = res.data;
          auth.login({
            name: r.name,
            isAdmin: true,
            isAuth: true,
            token: r.token
          });
          this.$router.push({ path: "/dashboard" });
        })
        .catch(error => {
          console.log(error);
          this.msg = "Please provide a valid username and password.";
        })
        .finally(() => {
          this.loggingIn = false;
        });
    }
  },
  computed: {},
  watch: {
    loader() {
      const l = this.loader;
      this[l] = !this[l];

      setTimeout(() => (this[l] = false), 3000);

      this.loader = null;
    }
  },
  mounted() {
    //console.log('login page'+ JSON.stringify(this.$route.params.tenant))
  }
};
</script>

 <style lang="scss">
@import "../styles/material-dashboard/_variables.scss";
.alert-danger {
  color: #ac0f0f;
  background: #fff6f6;
  border: 1px solid #fbcccc;
  padding: 15px;
  border-radius: 0;
  border-width: 1px;
  margin: 20px 10px;
  font-size: .8em;
  .v-icon{
    color: #ac0f0f !important;
    font-size: 1.3em !important;
  }
}
.login-container,
.forgotpw-container {
  width: 550px;
  background: #40aabb;
  padding: 3rem;
  margin: 25vh auto 0;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (max-width: $sm) {
    max-width: 100%;
  }

  h1 {
    font-weight: 200;
    font-size: 2rem;
  }

  &.hide-container {
    display: none;
  }
}

.forgotpw-container {
  width: 650px !important;
}

.incorrect {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent !important;
  border-color: transparent !important;
  color: $brand-danger !important;
}

p.error {
  background-color: transparent !important;
}

.forgotPw {
  &:hover {
    color: #2196f3;
  }
}

.fade-enter-active {
  transition: opacity 0.5s;
}

.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
