<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
    <v-flex
      md12
    >

    <router-link :to="{ name: 'Surveys'}">
      <v-btn color="primary" absolute top left><v-icon >mdi-arrow-left-thick</v-icon></v-btn>
    </router-link>
    <v-btn color="primary" absolute top right style="right: 200px;"
          @click="importModel = true">
          <v-icon>mdi-plus</v-icon> Import Questions
      </v-btn>
    <v-btn color="primary" absolute top right
          @click="onAddQuestion">
          <v-icon>mdi-plus</v-icon> Add Question
      </v-btn>
    </v-flex>
      <v-flex
        md12
      >
        <material-card
          color="green"
          title="Survey -> Questionaries"
          :text="survey.name"
        >

          <v-data-table
            :headers="headers"
            :items="survey.questions"
            hide-actions
          >
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>
            <template
              slot="items"
              slot-scope="props"
            >
              <td>{{ props.item.content }}</td>
              <td>{{ props.item.type=='mc'?'Multi Choice':'Single Answer' }}</td>
              <td class="text-xs-right">
                <v-icon style="cursor:pointer;" @click="onEditQuestion(props.item, props.index)">mdi-pencil</v-icon>
                <v-icon style="cursor:pointer;" @click="deleteQuestion(props.item)">mdi-close</v-icon>
              </td>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>

      <v-dialog v-model="questionModel" max-width="50%" >
          <v-card>
            <v-card-title>
              <span class="headline">{{formAction}} Question</span>
            </v-card-title>
            <v-card-text>
              <v-form ref="form" v-model="valid">
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 md12>
                    <v-text-field
                      label="Question"
                      v-model="question.content"
                      :rules="nameRules">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 md12>
                    <v-select
                      v-model="question.type"
                      :items="types"
                      :rules="[v => !!v || 'Choose Type.']"
                      label="Type"
                    ></v-select>
                  </v-flex>
                  <v-flex xs12 md6>
                    <v-text-field
                    v-if="question.type=='mc'"
                      label="Option 1"
                      v-model="question.options[0]"
                      :rules="optionRules"
                      >
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 md6>
                    <v-text-field
                    v-if="question.type=='mc'"
                      label="Option 2"
                      v-model="question.options[1]"
                      :rules="optionRules">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 md6>
                    <v-text-field
                      label="Option 3"
                      v-if="question.type=='mc'"
                      v-model="question.options[2]"
                      :rules="optionRules">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 md6>
                    <v-text-field
                      label="Option 4"
                      v-if="question.type=='mc'"
                      v-model="question.options[3]"
                      :rules="optionRules">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 md6>
                    <v-text-field
                      label="Default Option"
                      v-if="question.type=='mc'"
                      v-model="question.defaultOption"
                      :rules="optionRules">
                    </v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" flat @click.native="questionModel = false">
                Close
              </v-btn>
              <v-btn flat color="primary" @click.native="saveQuestion">
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

      <v-dialog v-model="importModel" max-width="40%" >
            <v-card>
              <v-card-title>
                <span class="headline">Import Questions</span>
              </v-card-title>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex xs12 md12>
                      <vue-csv-import v-model="csvValue" ref="importer" :map-fields="['question','type', 'option1', 'option2', 'option3', 'option4', 'defaultOption']" @add-questions="addMultipleQuestion"></vue-csv-import>
                    </v-flex>
                    <!-- <v-flex md12> {{ csvValue }}</v-flex> -->
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" flat @click.native="importModel = false">
                  Close
                </v-btn>
                <!-- <v-btn flat color="primary" @click.native="saveQuestion">
                  Save
                </v-btn> -->
              </v-card-actions>
            </v-card>
          </v-dialog>
    </v-layout>
  </v-container>
</template>

<script>
import VueCsvImport from '../components/helper/VueCsvImport.vue';

export default {
  components: { VueCsvImport },
  data() {
    return {
      survey: {},
    question:{content:'',type:'oe',options:[],defaultOption:''},
    questionModel:false,
    importModel:false,
    types:['oe','mc'],
    savingQuestion: false,
    headers: [
      {
        text: 'Question',
        value: 'name'
      },
      {
        sortable: false,
        text: 'Type',
        value: 'type'
      },
      {
        sortable: false,
        text: 'actions',
        value: 'actions',
        align: 'right'
      }
    ],

    csvValue:null,
    selectedIndex: 0,
    formAction: 'Add',

    //rules
    valid: true,
    nameRules: [
    v => !!v || 'Question is required',
    v => (v && v.length >= 8) || 'Question must be greater than 8 characters'
  ],
  optionRules: [
    v => !!v || 'Option value cannot be empty'
  ]
  }
},
  created(){
    this.getSurvey()
  },
  methods: {
    getSurvey(){
      if(this.$route.query.id){
      axios.get(axios.defaults.baseURL + 'survey/'+this.$route.query.id)
        .then((response) => {
          console.log(response.data);

          this.survey = response.data;
        })
        .catch((error) => {
          console.log(error);
          this.$toasted.error(error)
        })
      }
    },

    onAddQuestion() {
      this.formAction = "Add"
      this.questionModel = true
      this.question = {content:'',type:'oe',options:[],defaultOption:''}
      this.$refs.form.resetValidation();
    },
    saveQuestion(){
      if (this.$refs.form.validate()) {
        if(!this.question.id){
          this.addQuestion()
        }else{
          this.updateQuestion()
        }
      }
    },
    addQuestion(){
      axios.post(`${axios.defaults.baseURL}survey/${this.survey.id}/question`, this.question)
        .then((response) => {
          console.log(response.data);
          this.getSurvey()
          this.questionModel = false
          this.$toasted.success("Question Added Successfully.")

        })
        .catch((error) => {
          console.log(error);
          this.$toasted.error(error)
        })
    },
    addMultipleQuestion(){

      let questions= []
      this.csvValue.forEach((item,index) =>{
        let ques = {}
        ques.content = item.question
        ques.type = item.type
        if(item.option1){
          ques.options = [item.option1,item.option2,item.option3,item.option4]
          ques.defaultOption = item.defaultOption
        }
        questions.push(ques)
      })

      axios.post(`${axios.defaults.baseURL}survey/${this.survey.id}/questions`, questions)
        .then((response) => {
          this.$toasted.success("Questions Imported Successfully.")
          this.getSurvey()
          this.importModel = false


        })
        .catch((error) => {
          console.log(error);
          this.$toasted.error(error)
        })
    },
    onEditQuestion(item, index){

      this.selectedIndex = index
      this.formAction = 'Edit'
      this.question = Object.assign({}, item)
      this.questionModel = true;
    },
    updateQuestion(){debugger
      // this.question.surveyId = this.survey.id
      axios.post(axios.defaults.baseURL + 'survey/'+this.survey.id+'/question/edit', this.question)
        .then((response) => {
          this.getSurvey()
          this.questionModel = false
          this.$toasted.success("Question Edit Successfully.")
        })
        .catch((error) => {
          console.log(error);
          this.$toasted.error(error)
        })
    },
    deleteQuestion(item){
      confirm("Are you sure you want to delete?") &&
      axios.post(axios.defaults.baseURL + 'survey/'+this.survey.id+'/question/delete',item)
        .then((response) => {
          this.getSurvey()
          this.$toasted.success("Question Delete Successfully.")
        })
        .catch((error) => {
          console.log(error);
          this.$toasted.error(error)
        })
    },
  }
}
</script>
