<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
    <v-flex
      md12
    >

    <router-link :to="{ name: 'Surveys'}">
      <v-btn color="primary" absolute top left><v-icon >mdi-arrow-left-thick</v-icon></v-btn>
    </router-link>

    </v-flex>
      <v-flex
        md12
      >
        <material-card
          color="green"
          title="Survey -> Result"
          text="all available questions."
        >

          <v-data-table
            :headers="headers"
            :items="result.questions"
            hide-actions
          >
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>
            <template
              slot="items"
              slot-scope="props"
            >
              <td>{{ props.item.content }}</td>
              <template v-for="option in props.item.options">
                <td><p>{{option.content}}</p> <span class='text-success'><b>{{option.percent*100+'%'}}</b></span></td>
              </template>
              <!-- <td><p>Yes</p> <span class='text-success'><b>56%</b></span></td>
              <td><p>No</p> <span class='text-success'><b>13%</b></span> </td>
              <td><p>Dont Know</p> <span class='text-success'><b>25%</b></span> </td>
              <td><p>Not Interested</p> <span class='text-success'><b>6%</b></span> </td> -->
              <td class="text-xs-right" v-if="props.item.type=='mc' || props.item.type=='MC'">
                <div class="text-xs-center">
                <v-rating v-model="props.item.rating" readonly></v-rating>
              </div>
                  <apexcharts type=pie width="320" :options="chartOptions" :series="computeSeries(props.item.options)" /></apexcharts>
              </td>
              <template v-if="props.item.type=='oe' || props.item.type=='OE'">
                <td></td><td></td><td></td><td></td>
                <td class="text-xs-right">
                  <div class="text-xs-center">
                  <v-rating v-model="props.item.rating" readonly></v-rating>
                </div>
                  <v-btn color="primary" @click="showAnswers(props.item.answers)">Show Answers</v-btn>
                </td>
              </template>
            </template>
          </v-data-table>
        </material-card>
      </v-flex>

      <v-dialog v-model="ansModel" max-width="50%" >
          <v-card>
            <v-card-title>
              <span class="headline">Answers</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12>
                    <v-list>
                       <template v-for="(item, index) in answersList">



                       <v-list-tile
                         :key="index"
                       >

                         <v-list-tile-content>
                           <v-list-tile-title v-html="item"></v-list-tile-title>
                         </v-list-tile-content>
                       </v-list-tile>
                       <v-divider
                         :key="index"
                       ></v-divider>
                     </template>
                   </v-list>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" flat @click.native="ansModel = false">
                Close
              </v-btn>

            </v-card-actions>
          </v-card>
        </v-dialog>
    </v-layout>
  </v-container>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'

export default {
  components:{
    apexcharts: VueApexCharts,
  },
  data() {
    return {
    result:{},
    headers: [
      {
        text: 'Question',
        value: 'content'
      },
      {
        text: 'Option 1',
        value: 'option1',
      },
      {
        text: 'Option 2',
        value: 'option2',
      },
      {
        text: 'Option 3',
        value: 'option3',
      },
      {
        text: 'Option 4',
        value: 'option4',
      },
      {
        text: 'Result',
        value: 'result',
      },
    ],
    series: [0.4, 0.55, 0.13, 0.43],
    chartOptions: {
      id: 'vuechart-example',
      labels: ['Option 1', 'Option 2', 'Option 3', 'Option 4'],
      responsive: [{
        breakpoint: 480,
        options: {
          chart: {
            width: 150
          },
          legend: {
            position: 'bottom'
          }
        }
      }]
    },
    ansModel: false,
    answersList: []
  }
},
  created() {
    this.getResult();
  },
  methods: {
    getResult(){
      axios.get(axios.defaults.baseURL + 'survey/results/chart/'+this.$route.query.id)
        .then((response) => {
          console.log(response.data);
          this.result = response.data;
        })
        .catch((error) => {
          console.log(error);
        })
    },
    computeSeries(options){
      let series=[]
      if(options)
      {
        options.forEach(option=>{
          if(option.percent && option.percent!= 'NaN')
            series.push(option.percent*100)
        });
      }
      return series;
    },
    showAnswers(answers){
      this.answersList = answers;
      this.ansModel = true
    }
  }
}
</script>
