
<template>
  <v-form ref="form" v-model="valid">
    <v-container fluid grid-list-xl fill-height>
      <v-layout>
        <v-flex xs12>
          <v-card v-if="submitted" color="green darken-2" class="white--text text-xs-center">
            <v-card-title primary-title>
              <div style="width:100%" class="text-xs-center">
                <v-icon dark x-large>check</v-icon>
                <div class="headline">Thank You</div>
                <span>Thank you for submitting this survey.</span>
              </div>
            </v-card-title>
            <v-card-actions class="justify-center">
              <router-link v-ripple to="/home">
                <v-btn flat dark>
                  <v-icon>home</v-icon>Take another
                </v-btn>
              </router-link>
            </v-card-actions>
          </v-card>
          <material-card color="purple" v-else-if="!!survey">
            <div slot="header">
              <div class="title font-weight-light mb-2">{{survey.name}}</div>
            </div>

            <!-- Window Control -->
            <v-card class="mx-auto">
              <v-card-title class="title font-weight-regular justify-space-between">
                <span>{{ currentTitle }}</span>
                <v-avatar
                  color="primary lighten-2"
                  class="subheading white--text"
                  size="24"
                  v-text="step + 1"
                ></v-avatar>
              </v-card-title>

              <v-window :value="step">
                <v-window-item
                  v-bind:key="index"
                  v-for="(question, index) in survey.questions"
                  :value="index"
                >
                  <v-card-text>
                    <div class="text-xs-right">
                      <v-rating v-model="question.rating"></v-rating>
                    </div>
                  </v-card-text>
                  <v-card-text>
                    <v-textarea
                      v-if="question.type.toUpperCase()=='OE'"
                      v-model="question.answer"
                      :counter="1000"
                      :rules="answerRules"
                      label="Answer"
                    ></v-textarea>
                    <v-radio-group v-model="question.answer" v-else :rules="answerRules">
                      <v-radio
                        v-for="(choice, idx) in question.options"
                        :key="idx"
                        :label="choice"
                        :value="choice"
                      ></v-radio>
                    </v-radio-group>
                  </v-card-text>
                </v-window-item>
              </v-window>

              <v-divider></v-divider>

              <v-card-actions>
                <v-btn :disabled="step === 0" flat color="secondary" @click="step--">previous</v-btn>
                <v-spacer></v-spacer>
                <v-btn
                  color="primary"
                  depressed
                  @click="next"
                >{{step+1==survey.questions.length?'Submit':'Next'}}</v-btn>
              </v-card-actions>
            </v-card>
          </material-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
export default {
  data: () => ({
    answer: "",
    step: 0,
    valid: true,
    survey: null,
    submitted: false,
    answerRules: [
      v => !!v || "Answer is required",
      v => v.length <= 1000 || "Answer must be less than 1000 characters"
    ]
  }),
  mounted() {
    console.log(this.surveys);
    axios
      .get("survey/" + this.$route.query.id)
      .then(response => {
        this.survey = response.data;
        if (!this.survey.questions) this.survey.questions = [];
        this.survey.questions.forEach(q => {
          if (!q.rating) q.rating = 3;
          q.answer = "";
          if (q.defaultOption) {
            const d = Number(q.defaultOption);
            if (d && d <= q.options.length) q.answer = q.options[d - 1];
          }
        });
      })
      .catch(error => {
        console.log(error);
        this.errored = true;
      })
      .finally(() => {
        this.loading = false;
      });
  },
  methods: {
    next() {
      this.$refs.form.validate();
      if (!!this.survey.questions[this.step].answer) {
        if (this.step == this.survey.questions.length - 1) {
          this.submitResult();
          return;
        }
        this.step++;
        this.$refs.form.resetValidation();
      }
    },
    submitResult() {
      const s = this.survey;
      const results = [];
      s.questions.forEach(q => {
        results.push({
          surveyId: s.id,
          questionId: q.id,
          answer: q.answer,
          rating: q.rating || 3
        });
      });
      // const data = { user: null, survey };
      axios
        .post("survey/results/submit", results)
        .then(response => {})
        .catch(error => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => {
          this.submitted = true;
          this.loading = false;
        });
    }
  },
  computed: {
    currentTitle() {
      return this.survey.questions[this.step].content;
    }
  }
};
</script>
