<template>
  <v-container
    fill-height
    fluid
    grid-list-xl
  >
    <v-layout
      justify-center
      wrap
    >
      <v-flex
        md12
      >
        <material-card
          color="green"
          title="Surveys"
          text="all available surveys."
        >

        <v-btn color="primary"
              top
              right
              dark
              absolute
              @click="onAddSurvey">
              <v-icon>mdi-plus</v-icon> Add Survey
          </v-btn>
          <v-flex md3>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-flex>
          <v-data-table
            :headers="headers"
            :items="items"
            :search="search"

          >
            <template
              slot="headerCell"
              slot-scope="{ header }"
            >
              <span
                class="subheading font-weight-light text-success text--darken-3"
                v-text="header.text"
              />
            </template>
            <template
              slot="items"
              slot-scope="props"
            >
              <td>{{ props.item.name }}</td>
              <td>{{ props.item.description }}</td>

              <td class="text-xs-center">
                <v-badge right>
                        <template v-slot:badge>
                          <span>{{props.item.questions?props.item.questions.length:'0'}}</span>
                        </template>
                          <router-link :to="{ name: 'Questions', query: { 'id': props.item.id }}">
                              <v-icon>mdi-content-copy</v-icon>
                          </router-link>
                      </v-badge>
                </td>
              <td>
                <router-link :to="{ name: 'Result', query: { 'id': props.item.id }}">
                  Results
                </router-link>
              </td>
              <td>
                <router-link :to="{ name: 'Survey', query: { 'id': props.item.id }}">
                  <v-icon style="cursor:pointer;" color="success">mdi-eye</v-icon>
                </router-link>
              </td>
              <td class="text-xs-right">
                <v-icon color="primary" style="cursor:pointer;" @click="onEditSurvey(props.item, props.index)">mdi-pencil</v-icon>
                <v-icon color="red" style="cursor:pointer;" @click="deleteSurvey(props.item)">mdi-close</v-icon>
              </td>
              <!-- <td><v-chip  :color="props.item.active?'success':'error'" @click="activateSurvey(!props.item.active,props.item)"><span style="cursor:pointer;">{{props.item.active?'Active':'Inactive'}}</span></v-chip></td> -->
            </template>
          </v-data-table>
        </material-card>
      </v-flex>

      <v-dialog v-model="surveyModel" max-width="50%" >
          <v-card>
            <v-card-title>
              <span class="headline">{{formAction}} Survey</span>
            </v-card-title>
            <v-card-text>
              <v-form ref="form" v-model="valid">
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12>
                    <v-text-field
                    :rules="nameRules"
                    required
                      label="Name*"
                      v-model="survey.name">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-combobox
                      v-model="survey.category"
                      :items="categories"
                      chips
                      label="Category"
                      item-text="name"
                      item-value="name"
                      :rules="[v => !!v || 'Choose category.']"
                    ></v-combobox>

                  </v-flex>
                  <v-flex xs12>
                    <v-textarea
                      solo
                      name="input-7-4"
                      label="Description"
                      v-model= "survey.description"
                    ></v-textarea>
                    </v-flex>
                </v-layout>
              </v-container>
            </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" flat @click.native="surveyModel = false">
                Close
              </v-btn>
              <v-btn flat color="primary" @click.native="saveSurvey" :loading="savingSurvey" :disabled="savingSurvey">
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
        survey:{},
        surveyModel:false,
        savingSurvey: false,
        headers: [
          {
            text: 'Name',
            value: 'name'
          },
          {
            sortable: false,
            text: 'Description',
            value: 'description'
          },

          {
            sortable: false,
            text: 'Questionaries',
            value: 'country'
          },
          {
            sortable: false,
            text: 'Results',
            value: 'city'
          },
          {
            sortable: false,
            text: 'Preview',
            value: 'salary'
          },
          {
            sortable: false,
            text: 'actions',
            value: 'actions',
            align: 'right'
          }
          // ,{
          //   sortable: false,
          //   text: 'Active',
          //   value: 'isActive'
          // },
        ],
        items: [],
        selectedIndex: 0,
        formAction: 'Add',
        search:'',
        categories: [],

        //rules
        valid: true,
        nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length >= 8) || 'Name must be greater than 8 characters'
      ],
  }
},
  created() {
    this.getSurveys();
    this.getCatgoryList();
  },
  methods: {
    getSurveys(){

      axios.get(axios.defaults.baseURL + 'surveys')
        .then((response) => {
          // console.log(response.data);
          this.items = response.data;
        })
        .catch((error) => {
          console.log(error);
            this.$toasted.error(error)
        })
    },
    getCatgoryList(){
      axios.get(axios.defaults.baseURL + 'category')
        .then((response) => {
          this.categories = response.data;
        })
        .catch((error) => {
          console.log(error);
          this.$toasted.error(error)
        })
    },
    onAddSurvey() {
      this.formAction = "Add"
      this.surveyModel = true
      this.survey = {}
      this.$refs.form.resetValidation();
    },
    saveSurvey(){
       if (this.$refs.form.validate()) {
      if(!this.survey.id){
        if(this.survey.category.name){
          this.survey.category = this.survey.category.name
        }
        this.addSurvey()
        this.$refs.form.resetValidation();
      }else{
        if(this.survey.category.name){
          this.survey.category = this.survey.category.name
        }
        this.updateSurvey()
        this.$refs.form.resetValidation();
      }
    }
    },
    addSurvey(){
      axios.post(axios.defaults.baseURL + 'survey', this.survey)
        .then((response) => {
          console.log(response.data);
          this.getSurveys()
          this.surveyModel = false
          this.$toasted.success("Survey Added Successfully.")
        })
        .catch((error) => {
          console.log(error);
          this.$toasted.error(error)
        })
    },
    onEditSurvey(item, index){

      this.selectedIndex = index
      this.formAction = 'Edit'
      this.survey = Object.assign({}, item)
      this.surveyModel = true;
    },
    updateSurvey(){
      axios.post(axios.defaults.baseURL + 'survey', this.survey)
        .then((response) => {
          console.log(response.data);
          this.getSurveys()
          this.surveyModel = false
          this.$toasted.success("Survey Update Successfully.")
        })
        .catch((error) => {
          console.log(error);
        })
    },
    deleteSurvey(survey){
      //survey/delete/{id}
      confirm("Are you sure you want to delete?") &&
      axios.post(axios.defaults.baseURL + 'survey/delete',survey)
        .then((response) => {
          console.log(response.data);
          this.getSurveys()
          this.$toasted.success("Survey Delete Successfully.")
        })
        .catch((error) => {
          console.log(error);
          this.$toasted.error(error)
        })
    },
    activateSurvey(flag, survey){
      if(flag && !survey.active){
        axios.get(axios.defaults.baseURL + 'survey/activate/'+ survey.id)
          .then((response) => {
            console.log(response.data);
            this.getSurveys()

            this.$toasted.success("Survey "+survey.name+" Activated Successfully.")
          })
          .catch((error) => {
            console.log(error);
          })
      }else{
        axios.get(axios.defaults.baseURL + 'survey/deactivate/'+ survey.id)
          .then((response) => {
            console.log(response.data);
            this.getSurveys()
            this.$toasted.success("Survey "+survey.name+" Deactivated Successfully.")
          })
          .catch((error) => {
            console.log(error);
          })
      }

    }
    // gotQuestion(id){
    //   if (id) {
    //     this.$router.replace({ name: 'Questions', params: id, query: { 'sid': id }})
    //   }
    // },
  },
  computed:{

  },
}
</script>
<style lang="scss" >
.v-datatable__actions__range-controls .v-btn__content {
    color: rgba(0,0,0,.87) !important;
}
</style>
